.coloured-homepage-section{
	background-color: $color__background-headerhome;
	width: 100%;
	overflow: hidden;
}





.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
