footer.site-footer{
	margin: $structure__margin-header_desktop 0 0 0;
	padding: 50px 0 $structure__margin-header_desktop 0;
    border-top: 1px solid #000000;
    .home &{
		background-color: $color__background-headerhome;
		border-top: 0px solid #000000;
	}
	.site-branding{
		float: left;
		width: 30%;
		@media screen and (max-width: 740px) {
			width: 40%;
		}
		@media screen and (max-width: 540px) {
			float: none;
			width: 100%;
		}
	}
	.footer-section{
		float: right;
		width: 60%;
		max-width: 350px;
		position: relative;
		@media screen and (max-width: 740px) {
			max-width: 300px;
		}
		@media screen and (max-width: 540px) {
			float: none;
			width: 100%;
			margin: 10px 0;
			.widget_nav_menu div li:first-child{
				margin-left: 0px;
			}
		}
		
	}
}
