// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";


/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
@import "primary/pages";

/*--------------------------------------------------------------
## Posts 
--------------------------------------------------------------*/
@import "primary/posts";


/*--------------------------------------------------------------
## Archives 
--------------------------------------------------------------*/
@import "primary/archives";


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";


/*--------------------------------------------------------------
## footer
--------------------------------------------------------------*/
@import "footer/footer";

.site-container{
	margin: 0 auto;
	max-width: $size__site-container;
	width: 95%;
	position: relative;
	@media (max-width: 750px) {
		width: 90%;
	}
}