// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";


/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";


.site-container{
	margin: 0 auto;
	max-width: $size__site-container;
	width: 98%;
	position: relative;
}