$font__main: Arial,sans-serif;
$font__heading: 'Cormorant Garamond', serif;
$font__sitetitle: 'Lato',sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: auto;
$font__line-height-pre: auto;
